@import url('https://fonts.googleapis.com/css2?family=Marck+Script&family=Quicksand:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    background: #121619;
    font-family: 'Quicksand', sans-serif;
}

p {
    color: #F4F2ED; 
}

h1 {
    font-family: 'Marck Script', cursive;
}

